.small-button {
font-size: 12px; 
padding: 5px 10px; 
min-width: 80px; 
min-height: 30px; 
display: flex;
align-items: center;
justify-content: center;
white-space: nowrap;
}

#main {
    align-items: center;
}

*disabled {
    background: #eee;
    color: #666;
    border: 1px solid #ccc;
}
